footer
    div.container-footer
        div.container
            div.row.clearfix
                div.col-sm-3
                    img(src='./assets/logo-white.png' alt='Image Title')
                div.col-sm-3
                    p &copy; 2015 All Rights Reserved
                div.col-sm-3
                    p Privacy Policy & Terms of Service