div.container-header
	div.container
		div.row.clearfix
			div.col-sm-6.col-xs-6
				a
					img(src='./assets/logo.png' alt='Image Title')
			div.col-sm-6.col-xs-6.text-right
				a.btn-send-email.text-uppercase.text-bold abc@biz4x.com
