section.container-header#container-header-scroll
	div.container
		div.row.clearfix
			div.col-sm-6.col-6
				a(href="https://biz4x.com/")
					img(src='./assets/logo.png' alt='Image Title')
			div.col-sm-6.col-6.text-right
				a(href="#", data-toggle="modal", data-target="#myModal").btn-send-email.text-uppercase.text-bold Request a Demo
