div.container-header
	div.container
		div.row.clearfix
			div.col-sm-6.col-xs-6
				a
					img(src='./assets/logo.png' alt='Image Title')
			div.col-sm-6.col-xs-6.text-right
				a.btn-send-email.text-uppercase.text-bold abc@biz4x.com
			div.col-sm-12
				div.content-header
					h4.main-color-text.text-center  Biz4x is the complete solution for all your currency exchange business needs.
					p.text-center Conveniently access live FX rates, compliance data, new customers and business management features in a single console. No matter the size of your business, Biz4x can help you take it to the next level.
					div.text-center.margin-bottm-reset.relative-pos
						img.max-width(src='./assets/screenshot-dashboard.png' alt='Image Title')
						div.btn-sign-up-home
							a.box-shadow Sign up for a free trial today!
