doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title test
    link(rel='stylesheet', type='text/css', href='index.css')
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap.min.css')
  body
    include header.pug
    include footer.pug
    script(src='vendor/bootstrap.min.js')
    script(src='vendor/jquery.min.js')
