doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description', content='Money exchange software with point-of-sale (POS), FX rates and AML data for currency exchange businesses. Free trial available.')
    title Money changer software for money service businesses: Biz4x
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/animate.min.css')
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    include header.pug
    include map.pug
    include footer.pug
    script(src='./vendor/jquery.min.js')
    script(src='./vendor/tether.min.js')
    script(src='./vendor/bootstrap.min.js')
    script(src='./index.js')
    
