section.container-top-homepage.full-height-screen
    div.container
        div.row.clearfix
            div.col-sm-12
                div.content-header
                    .block-title
                      h4.main-color-text.text-center  Biz4x is the complete solution for all your currency exchange business needs.
                      p.text-center Conveniently access live FX rates, compliance data, new customers and business management features in a single console. No matter the size of your business, Biz4x can help you take it to the next level.
                    div.text-center.margin-bottm-reset.relative-pos
                        img.max-width(src='./assets/screenshot-dashboard.png' alt='Image Title')
                        div.btn-sign-up-home
                            a(href="#", data-toggle="modal", data-target="#myModal").box-shadow Sign up for a free trial today!
section.container-homepage
    section.container-map
        div.container
            div.row.clearfix
                div.col-sm-6
                    h4.main-color-text.text-capitalize Accelerate your business growth 
                    p.sub-color-text Biz4x is an all-in-one professional SaaS software that is built specifically to meet the modern requirements of money service businesses. Join hundreds of businesses using the leading money changer software today.
                div.col-sm-6
                    img.max-width(src='./assets/screen-map.png' alt='Image Title' width='100%')

    section.container-service-one
        div.container
            div.row.clearfix
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-scale-business
                        h5.text-capitalize.main-color-text Scale Your Business
                        p.margin-bottm-reset.text-center.sub-color-text No matter the size of your business, Biz4x can help you take it to the next level. Start with affordable plans for a single account and add more log ins as required, when your business expands.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-access-new
                        h5.text-capitalize.main-color-text Access New Innovations
                        p.margin-bottom-reset.text-center.sub-color-text A subscription to Biz4x is a gateway to the latest in technological advancement in the physical FX industry. Receive free updates and access new features bi-weekly.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-future
                        h5.text-capitalize.main-color-text Gain Business Insights
                        p.margin-bottom-reset.text-center.sub-color-text Easily access all your business-critical data with a single log-in, be it on desktop or mobile. Stay on top of developments with your business at all times of the day.

    section.container-businiess-management.full-height-screen.no-background-mobile
        div.container
            div.row.clearfix
                div.col-sm-6
                    img.hidden-desktop(src='./assets/business-management.png' alt='Image Title' width='100%')
                div.col-sm-6
                    h4.main-color-text.text-capitalize Business Management
                    p.sub-color-text Record all customer transactions and foreign currency in stock for ease of accounting with advanced price setting features and automated reporting.
                    div
                        a.btn-learn-more-business(data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample") Learn more
                    div#collapseExample.collapse.collapse-padding
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Create and import all stock entries for foreign currencies
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Record Buy, Sell and cost-of-stock prices
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Automate price setting and inverse calculation
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Print receipts
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Manage customer records through an integrated CRM system
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Identify suspicious individuals through an integrated KYC and compliance system
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Segment customer groups eg. watch and black lists
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Receive daily and monthly updates on historical stock reports
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Access sales summary and profit reports
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Generate management reports
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Access daily transaction records
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Export data into multiple file formats
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Manage multiple outlets
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Set different permission settings for individual tellers
                    a(href="#", data-toggle="modal", data-target="#myModal").btn-sign-up.box-shadow Sign up for a free trial today!


    section.container-live-rate.full-height-screen.no-background-mobile
        div.container
            div.row.clearfix
                div.col-sm-6
                    h4.text-capitalize.main-color-text Live FX Rates
                    p.sub-color-text Track real-time FX rates for all global currency pairs.
                    div.widget-condition
                      a.btn-learn-more-business(data-toggle="collapse", href="#collapseLiveRate", aria-expanded="false", aria-controls="collapseExample") Learn more
                      #collapseLiveRate.collapse.collapse-padding
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span View more than 100 global currency pairs
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Bid, Ask and Mid-market rates
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Open, High and Low prices
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Rates with up to 6 decimal places
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Charts with historical and predictive market data
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Customisable screens in multi-column table format
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Accessible on desktop and mobile
                    a.margin-b-20-mobile(href="#", data-toggle="modal", data-target="#myModal").btn-sign-up.box-shadow Sign up for a free trial today!
                div.col-sm-6
                    img.hidden-desktop(src='./assets/live-rate.png' alt='Image Title' width='100%')


    section.container-risk-management.full-height-screen.no-background-mobile
        div.container
            div.row.clearfix
                div.col-sm-6
                    img.hidden-desktop(src='./assets/compliance-risk.png' alt='Image Title' width='100%')
                div.col-sm-6
                    h4.text-capitalize.main-color-text Compliance Risk Management
                    p.sub-color-text Conduct customer due dilligence with a compliance risk management database.
                    div.widget-condition
                      a.btn-learn-more-business(data-toggle="collapse", href="#collapseRiskManagement", aria-expanded="false", aria-controls="collapseExample") Learn more
                      #collapseRiskManagement.collapse.collapse-padding
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span More than 3 million results from 100,000 different sources
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Covers lists from 240 countries in 60 languages for every category of crime
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Includes: Anti-money laundering (AML), Counter the Financing of Terrorism (CFT) and Politically Exposed Persons (PEP) lists.
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Includes the Specially Designated Nationals and Blocked
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span  Persons (SDN) and US Office of Foreign Assets Control (US OFAC) lists
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Exact and fuzzy search with passport and date of birth search filter
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Percentage match scoring
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span All search history recorded for a year
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span All search history recorded for a year
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span API available
                    a.margin-b-20-mobile(href="#", data-toggle="modal", data-target="#myModal").btn-sign-up.box-shadow Sign up for a free trial today!

    section.container-customer-acquisition.full-height-screen.no-background-mobile
        div.container
            div.row.clearfix
                div.col-sm-6
                    h4.text-capitalize.main-color-text Customer Acquisition
                    p.sub-color-text Reach new customers anywhere in the world.
                    div.widget-condition
                      a.btn-learn-more-business(data-toggle="collapse", href="#collapseCustomerAcquisition", aria-expanded="false", aria-controls="collapseExample") Learn more
                      #collapseCustomerAcquisition.collapse.collapse-padding
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Set and display buy and sell rates online
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Centralized rate management
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Advanced options for automated rate setting
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Rate board integration
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Accept currency bookings from customers
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Cross-sell products and services from our network of partners
                        p
                            img(src='./assets/check-icon.png' alt='Image Title')
                            span Online business webpage
                    a(href="#", data-toggle="modal", data-target="#myModal").btn-sign-up.box-shadow Sign up for a free trial today!
                div.col-sm-6
                    img.hidden-desktop(src='./assets/customer-acquisition.png' alt='Image Title' width='100%')

    section.container-why-us.full-height-screen
        h4.text-center.text-capitalize.main-color-text Why Biz4x is The Right Choice For Your Business
        div.container
            div.row.clearfix
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-custom
                        h5.text-capitalize.main-color-text Future Proof
                        p.margin-bottm-reset.text-center.sub-color-text Weather changes in technology and regulatory landscapes with a platform that is in built in consultation with relevant experts.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-value
                        h5.text-capitalize.main-color-text Custom-Built
                        p.margin-bottm-reset.text-center.sub-color-text A platform that is constantly upgraded with customer feedback and built to address the specific challenges of money changers.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-customer
                        h5.text-capitalize.main-color-text Value-Add
                        p.margin-bottm-reset.text-center.sub-color-text A reasonably priced all-in-one solution so money changers can modernize business operations without breaking the bank.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-global
                        h5.text-capitalize.main-color-text Customer Support
                        p.margin-bottm-reset.text-center.sub-color-text Friendly customer support representatives are always ready to help, be it phone, chat, email or face-to-face meetings.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-high
                        h5.text-capitalize.main-color-text Global Network
                        p.margin-bottm-reset.text-center.sub-color-text Rapid implementation of customer feedback so the Biz4x solution is custom-built and constantly evolving to meet the individual future business needs of money changers everywhere in the world.
                div.col-sm-4
                    div.widget-service.text-center
                        i.icon.icon-high-security
                        h5.text-capitalize.main-color-text High Security
                        p.margin-bottm-reset.text-center.sub-color-text End-to-end encryption and automated data back-up to ensure your data is always safe and secured in Biz4x.

    section.container-form-start
        h4.text-capitalize.text-center We just need some information from you before scheduling a demo
        div.row.clearfix
            div.col-sm-6
                input(type="text", placeholder="First Name")
            div.col-sm-6
                input(type="text", placeholder="Last Name")
            div.col-sm-6
                input(type='text', placeholder='Email')
            div.col-sm-6
                input(type='text', placeholder='Phone')
            div.col-sm-12
                input(type='text', placeholder='Company')
            div.col-sm-12
                select#countries
            div.col-sm-12
                input(type='text', placeholder='Address')
            div.col-sm-12
                label What feature are you most interested in ?
            div.col-sm-12
                select(style="color:gray")
                    option Please select
                    option Live FX Rates
                    option Compliance
                    option Customer Acquisition
                    option Business Management
                div.checkbox.col
            .form-biz4x
              .col.form-check
                label.form-check-label.row.align-items-center.no-gutters
                  input.form-check-input(type='checkbox', value='')
                  |  I agree to Biz4x customer terms of service.
                label.form-check-label.row.align-items-center.no-gutters
                  input.form-check-input(type='checkbox', value='')
                  |  Subscribe to Biz4x mailing list.              
            div.col-sm-12
                div.text-center
                    a.btn-sign-up.box-shadow.btn-different-width.margin-b-20-mobile Submit demo request
div.container-modal-sign-up
    div.modal.fade#myModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        div.modal-dialog.animated.bounceIn(role="document")
            div.modal-content
                div.modal-header
                    h4.text-center We just need some information from you before scheduling a demo
                    button.close(data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    div.row.clearfix
                        div.col-sm-6
                            input(type="text", placeholder="First Name")
                        div.col-sm-6
                            input(type="text", placeholder="Last Name")
                        div.col-sm-6
                            input(type="text", placeholder="Email")
                        div.col-sm-6
                            input(type="text", placeholder="Phone")
                        div.col-sm-12
                            input(type="text", placeholder="Company")
                        div.col-sm-12
                            select(style="color:gray")#countriesModal
                        div.col-sm-12
                            input(type="text", placeholder="Address")
                        div.col-sm-12
                            label What feature are you most interested in ?
                        div.col-sm-12
                            select
                                option Please select
                                option Live FX Rates
                                option Compliance
                                option Customer Acquisition
                                option Business Management
                        .form-biz4x
                          .col.form-check
                            label.form-check-label.row.align-items-center.no-gutters
                              input.form-check-input(type='checkbox', value='')
                              |  I agree to Biz4x customer terms of service.
                            label.form-check-label.row.align-items-center.no-gutters
                              input.form-check-input(type='checkbox', value='')
                              |  Subscribe to Biz4x mailing list.
                        div.col-sm-12
                            div.text-center
                                a.btn-sign-up.box-shadow.btn-different-width.margin-b-20-mobile Submit demo request
