body
  .container-header
    opacity: 1

.full-height-screen
  height: 100vh
.fixed-container-header
  margin: 0
  padding: 20px 0 !important
  z-index: 100 !important
  top: 0 !important
  right: 0
  left: 0
  width: 100%
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  background-color: rgba(255,255,255,.95) !important
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1)
  opacity: .98
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
.scroll-header
  position: fixed
  animation: slideInDown .3s ease-in-out
  -webkit-animation: slideInDown .3s ease-in-out
@-webkit-keyframes slideInDown
  0%
    -webkit-transform: translateY(-50px) translateZ(0) translateX(0) rotate(0.02deg)
    transform: translateY(-50px) translateZ(0) translateX(0) rotate(0.02deg)
    opacity: 0

  75%
    -webkit-transform: translateY(0) translateZ(0) translateX(0) rotate(0.02deg)
    transform: translateY(0) translateZ(0) translateX(0) rotate(0.02deg)

  100%
    opacity: 1

@keyframes slideInDown
  0%
    -webkit-transform: translateY(-50px) translateZ(0) translateX(0) rotate(0.02deg)
    transform: translateY(-50px) translateZ(0) translateX(0) rotate(0.02deg)
    opacity: 0

  75%
    -webkit-transform: translateY(0) translateZ(0) translateX(0) rotate(0.02deg)
    transform: translateY(0) translateZ(0) translateX(0) rotate(0.02deg)

  100%
    opacity: 1

@-webkit-keyframes bounceIn
  from, 20%, 40%, 60%, 80%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  0%
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)

  20%
    -webkit-transform: scale3d(1.1, 1.1, 1.1)
    transform: scale3d(1.1, 1.1, 1.1)

  40%
    -webkit-transform: scale3d(0.9, 0.9, 0.9)
    transform: scale3d(0.9, 0.9, 0.9)

  60%
    opacity: 1
    -webkit-transform: scale3d(1.03, 1.03, 1.03)
    transform: scale3d(1.03, 1.03, 1.03)

  80%
    -webkit-transform: scale3d(0.97, 0.97, 0.97)
    transform: scale3d(0.97, 0.97, 0.97)

  to
    opacity: 1
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)


@keyframes bounceIn
  from, 20%, 40%, 60%, 80%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  0%
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)

  20%
    -webkit-transform: scale3d(1.1, 1.1, 1.1)
    transform: scale3d(1.1, 1.1, 1.1)

  40%
    -webkit-transform: scale3d(0.9, 0.9, 0.9)
    transform: scale3d(0.9, 0.9, 0.9)

  60%
    opacity: 1
    -webkit-transform: scale3d(1.03, 1.03, 1.03)
    transform: scale3d(1.03, 1.03, 1.03)

  80%
    -webkit-transform: scale3d(0.97, 0.97, 0.97)
    transform: scale3d(0.97, 0.97, 0.97)

  to
    opacity: 1
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)


.bounceIn
  -webkit-animation-name: bounceIn
  animation-name: bounceIn

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.container-header
  background-color: #f1f1f1
  position: fixed
  top: 40px
  z-index: 2
  display: block
  width: 100%
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
  opacity: 0
  -webkit-transition: opacity .3s
  transition: opacity .3s
  -webkit-transition-delay: .7s
  transition-delay: .7s
  .btn-send-email
    border: 2px solid #1b6197
    padding: 5px 10px
    display: inline-block
    color: #1b6197
    font-size: 12px
    font-family: 'Maven-ProBold'
  .content-header
    overflow: hidden
    padding: 50px 50px 0
    h4
      font-size: 28px
      line-height: 1.4
      padding: 0rem 2rem
    p
      margin: 1.5rem 0 0
      padding: 0 10rem
      font-size: 14px

.container-map
  padding: 80px 0
  p
    font-size: 14px
    padding: 40px 0 0

.container-service-one
  background-color: #e5f7f9
  padding: 5rem 0rem
  .widget-service
    h5
      margin: 15px 0

.container-businiess-management
  padding: 100px 0
  background-image: url("./assets/business-management.png")
  background-repeat: no-repeat
  background-position: 0 30px
  min-height: 630px
  .content-more-business
    padding: 15px 0
    p
      color: #8d959c
      margin-bottom: 5px
      img
        margin-right: 5px
  .btn-learn-more-business
    margin: 15px 0 0
    text-decoration: underline
    color: #387ebb
  h4
    padding: 80px 0 30px

.btn-sign-up-home
  position: absolute
  width: 100%
  top: 30%
  left: 0
  text-align: center
  font-family: 'Poppins-SemiBold'
  a
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    background-color: #19d499
    color: #fff
    text-transform: uppercase
    padding: 15px 25px
.widget-condition
  margin: 10px 0 0
  p
    position: relative
    color: #b4b4b4
    margin-bottom: 5px
    img
      margin-right: 5px

.container-live-rate
  background-color: #19598b
  padding-top: 70px
  background-image: url("./assets/live-rate.png")
  background-repeat: no-repeat
  background-position: right 120px
  min-height: 475px
  h4
    margin: 50px 0 20px

.container-risk-management
  padding-top: 40px
  background-image: url("./assets/compliance-risk.png")
  background-repeat: no-repeat
  background-position: left 40px
  min-height: 565px
  h4
    margin: 40px 0 20px

.container-customer-acquisition
  background-color: #195b8e
  padding-top: 80px
  background-image: url("./assets/customer-acquisition.png")
  background-repeat: no-repeat
  background-position: right 40px
  min-height: 550px

.container-why-us
  padding: 10% 0 0
  h4
    margin: 0 0 30px
  .widget-service
    margin-bottom: 35px

.container-form-start
  background-color: #3884bf
  padding: 10% 20% 0
  label
    color: #6fbdf0
  input
    margin-bottom: 12px
  h4
    color: #fff
    margin: 0 0 30px
.container-homepage
  margin-top: 100vh
  position: relative
  z-index: 2
  background-color: #fff
.container-top-homepage
  background-color: #f1f1f1
  position: fixed
  width: 100%
  height: 100%
  z-index: 1
  padding-top: 100px
  top: 0
  left: 0

.container-modal-sign-up
  .show
    -webkit-animation-name: pulse
    animation-name: pulse
  .modal-dialog
    width: 600px
    max-width: 600px
  .modal-header
    border-bottom: none
    h4
      margin-top: 15px
  .modal-body
    input, select
      border: 1px solid #e1e4ea
      margin-bottom: 14px
    label
      margin: 10px 0
    .row
      margin-left: -6px
      margin-right: -6px
    .col-sm-6, .col-sm-12
      padding-left: 6px
      padding-right: 6px
    .btn-sign-up
      display: block
      text-align: center
      width: 100%
.hidden-desktop
  display: none

@media only screen and (max-width: 767px)
  .hidden-desktop
    display: block
  .no-background-mobile
    background-image: none
  .full-height-screen
    height: auto
  .fixed-container-header
    padding: 10px 0 !important
  .container-header
    .btn-send-email
      margin-top: 5px
  .container-businiess-management
    padding:  0 0 30px
  .container-businiess-management
    h4
      padding: 30px 0
  .margin-b-20-mobile
    margin-bottom: 20px
  .container-footer
    font-size: 12px


