@font-face
	font-family: 'Poppins-Regular'
	src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf')  format('truetype'), url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'Poppins-SemiBold'
	src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-SemiBold.woff') format('woff'), url('fonts/Poppins-SemiBold.ttf')  format('truetype'), url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg')
	font-weight: normal
	font-style: normal

body
	font-family: 'Poppins-Regular'
	font-size: 14px

.main-color-text
	color: #00aec4

.text-bold
	font-family: 'Poppins-SemiBold'
	font-weight: 500

